version: '3'

services:
  web:
    #image: ghcr.io/kernoeb/drapeau-du-jour:main
    build: .
    restart: always
    stdin_open: true
    tty: true
    ports:
      - "14400:3000"
    environment:
      - TZ=Europe/Paris
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "./dev/daily.json:/app/daily.json:ro"
